/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1366px;
    height: 766px;
    margin: 0 auto;
    margin-top: 51px;
}

.logos {
    display: flex;
    flex-direction: row;
}

.img {
    width: 53px;
    height: 47px;
    position: absolute;
}

.logos__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    color: white;
    line-height: 24px;
    padding-left: 61px;
    bottom: 100px;
    text-decoration: none;
}

.llogos:hover .img,
.llogos:hover .logos__text {
  color: #F26522;
  stroke: #F26522;
  fill: #F26522;
  stroke-width: 5px;
}

.br {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-left: 61px;
}

.rlogos__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    color: white;
    position: absolute;
    right: 277px;
}

.rlogos__text:hover,
.rlogos__subtext:hover {
    color: #F26522;
}

.rlogos__subtext {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: white;
    position: absolute;
    right: 277px;
    top: 86px;
}

.images1,
.images2 {
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    gap: 62px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.images1 a img,
.images2 a img{
    width: 300px;
    height: 220px;
}


.p {
    margin-top: 20px;
    text-decoration: none;
    color: white;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    display: flex;
    flex-direction: column;
}

.img1o,
.img2o,
.img3o {
    display: none;
    position: absolute;
    top: 292px;
    width: 300px;
    height: 55px;
    margin: 0 auto;
    background-color: #F26522;
}

.img4o,
.img5o,
.img6o {
    display: none;
    position: absolute;
    top: 583px;
    width: 300px;
    height: 55px;
    margin: 0 auto;
    background-color: #F26522;
}

.img1:hover .img1o,
.img2:hover .img2o,
.img3:hover .img3o,
.img4:hover .img4o,
.img5:hover .img5o,
.img6:hover .img6o {
    display: block;
}

main {
    font-family: 'Roboto', sans-serif;
}

.img1:hover a,
.img2:hover a,
.img3:hover a,
.img4:hover a,
.img5:hover a,
.img6:hover a {
    color: #F26522;
    transition: 0.3s ease;
}

.from {
    position: absolute;
    left: 16px;
    top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}

.money {
    position: absolute;
    left: 16px;
    top: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.view {
    position: absolute;
    left: 180px;
    top: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.arrow-right {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    position: absolute;
    right: 16px;
    bottom: 15px;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
    position: absolute;
    bottom: 15px;
}